{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">折线图</div>
    <div class="panel-body">
      图图图
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
        <div class="panel panel-default">
    <div class="panel-heading">柱状图</div>
    <div class="panel-body">
      <div id="m2" style="width: 100%;height: 400px"></div>
    </div>
  </div>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-default">
    <div class="panel-heading">饼图</div>
    <div class="panel-body">
      图图图
    </div>
  </div>
    </div>
  </div>
  </div>


<script src="{% static 'js/echarts.js' %}"></script>
<script type="text/javascript">
$(function (){
    initBar();
})

/**
 * 初始化柱状图
 */

function initBar(){
    //基于准备好的dom，初始化echarts实例
var mychart = echarts.init(document.getElementById("m2"));

//指定图表的配置项和数据
var option = {
    title:{
        text:'ECharts 入门实例'
    },
    tooltip:{},
    legend:{
        data:[]
    },
    xAxis:{
        data:[]
    },
    yAxis: {},
    series : []
};

$.ajax({
    url:"/chart/bar/",
    type:"get",
    dataType:"JSON",
    success:function (res){
        //将后台返回的数据更新到option中
        if (res.status){
            option.legend.data = res.data.legend;
            option.xAxis.data = res.data.xAxis;
            option.series = res.data.series;
        //使用刚指定的配置项和数据显示图片
        mychart.setOption(option);
        }
    }
})
}

</script>
{% endblock %}