{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>登录</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
  <style>
    .account{
        width: 400px;
        border: 1px solid #dddddd;
        border-radius: 5px;
        box-shadow: 5px 5px 20px #aaa;

        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        padding: 20px 40px;
    }
    .account h2{
        margin-top: 10px;
        text-align: center;
    }
  </style>
</head>
<body>
<div class="account">
  <h2>用户登录</h2>
  <form method="post" >
    {% csrf_token %}
    <div class="form-group">
      <label>{{ form.username.label }}</label>
      {{form.username}}
      <span style="color: red">{{ form.username.errors.0 }}</span>
    </div>
    <div class="form-group">
      <label>密码</label>
      {{ form.password }}
      <span style="color: red">{{ form.password.errors.0 }}</span>
    </div>
    <div class="form-group">
      <label for="id_code">图片验证码</label>
      <div class="row">
        <div class="col-xs-7">
          {{ form.code }}
          <span style="color: red">{{ form.code.errors.0 }}</span>
        </div>
        <div class="col-xs-5">
          <img src="/image/code/" id="img_code" onclick="changecode()">
        </div>
      </div>
    </div>
    <input type="submit" value="登 录" class="btn btn-primary">
  </form>
</div>

<script>
  function changecode(){
      var img = document.getElementById("img_code");
       //如果直接将src设置为/image/code/ ，浏览器存在缓存，当你点击时，图片会从缓存中加载原来的图片，但当在地址后面加上随机数，浏览器就会认为这是一次不一样的请求
      img.src= "/image/code/?t=" + Math.random();
  }
</script>
</body>
</html>
